{% extends "content.html" %}

{% load i18n %}
{% load bootstrap4 %}

{% block title %}{% block content_title %}{% translate "Tasks" %}{% endblock %}{% endblock %}
{% block content_body %}
<a href="{% url 'create_task' %}">{% translate "Create new" %}</a>

<div class="card mb-3">
  <div class="card-body bg-light">
    <form class="form-inline center" method="get">
      {% bootstrap_field filter.form.status field_class='ml-2 mr-3' %}
      {% bootstrap_field filter.form.executor field_class='mr-3 ml-2' %}
      {% bootstrap_field filter.form.labels field_class='mr-3 ml-2' %}
      {% bootstrap_field filter.form.self_tasks field_class='mr-3' %}
      {% buttons %}
        <input class="btn btn-primary" type="submit" value="{% translate 'Search' %}">
      {% endbuttons %}
    </form>
  </div>
</div>

<table class="table table-striped text-left">
    <thead>
    <tr>
        <th>{% translate "ID" %}</th>
        <th>{% translate "Name" %}</th>
        <th>{% translate "Status" %}</th>
        <th>{% translate "Author" %}</th>
        <th>{% translate "Executor" %}</th>
        <th>{% translate "Created at" %}</th>
        <th></th> <!-- actions -->
    </tr>
    </thead>
    {% for task in object_list %}
    <tr>
        <td>{{ task.id }}</td>
        <td>{{ task.name }}</td>
        <td>{{ task.status.name }}</td>
        <td>{{ task.author.first_name }} {{ task.author.last_name }}</td>
        <td>{{ task.executor.first_name }} {{ task.executor.last_name }}</td>
        <td>{{ task.created_at }}</td>
        <td>
            <a href="{% url 'update_task' task.id %}">{% translate "Edit" %}</a><br>
            <a href="{% url 'delete_task' task.id %}">{% translate "Delete" %}</a>
        </td>
    </tr>
    {% endfor %}
</table>
{% endblock %}

